
@each $key,$val in $theme-colors{
    .icon-#{$key}{
         color:$val;
    }
}


.a svg{
animation:rotating 1.2s ease infinite
}
.b svg{
    animation:rotating 1.2s linear infinite
}
.c svg{
    animation:moving 10.2s ease-out infinite
}
.d svg{
    animation: moving 5.2s cubic-bezier(1,2,0.3,0.2) infinite//立方贝塞尔函数
}
@keyframes rotating{
    from{transform:rotate(0)}
    to{transform:rotate(360deg)}
}
@keyframes moving{
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(100px);
    }
}